Apresentacao/

Examples/

Text/chap*
Text/*.aux
Text/*.bib
Text/*.bbl
Text/*.blg
Text/*.fdb_latexmk
Text/*.fls
Text/*.lof
Text/*.log
Text/*.lot
Text/*.out
Text/*.tex
Text/*.toc
Text/*.pdf
Text/Figures

Codes/__pycache__
Codes/Julia
Codes/Figures

*.pdf
