Apresentacao/

Examples/

Text/chap*
Text/*.aux
Text/*.bib
Text/*.bbl
Text/*.blg
Text/*.fdb_latexmk
Text/*.fls
Text/*.lof
Text/*.log
Text/*.lot
Text/*.out
Text/*.tex
Text/*.toc
Text/ficha*.pdf
Text/folhaderosto*
Text/pgto_ficha_catalografica.pdf
Text/refs.pdf
Text/termo_aprovacao*.pdf
Text/tese*.pdf
Text/thesis_final.pdf
Text/thesis_revised.pdf
Text/*.jpeg
Text/Figures

Codes/__pycache__
Codes/Julia
Codes/Figures

*.pdf
